.totals-item-parent-container {
    display: flex;
    justify-content: space-between;
    width: 50em;
    margin: auto;
    animation: expand 0.15s;
}

@keyframes expand {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

.totals-item-image-container {
    position: relative;
    top: 1.0em;
    width: 3em;
}

.totals-item-info-container {
    position: relative;
    top: 0.7em;
    width: 20em;
    margin-left: 0.5em;
}

.totals-item-name {
    font-weight: bold;
}

.totals-item-dimensions {
    color: grey;
    font-size: 0.9em;
    position: relative;
    bottom: 1.2em;
}

.totals-item-quantity-container {
    position: relative;
    right: 0.5em;
    top: 0.9em;
}

.totals-item-button-container {
    position: relative;
    top: 0.5em;
    margin-left: 3em;
}

.totals-item-price-container {
    position: relative;
    top: 1.1em;
    margin-left: 2em;
}

.totals-item-sku-container {
    position: relative;
    top: 1.2em;
    margin-left: auto;
}

.totals-item-price-each {
    font-size: 0.8em;
    color: grey;
    font-style: italic;
}
