.foam-card-header {
    text-align: center;
}

.foam-card-parent-container {
    margin: 1em;
    padding: 1em;
    border: 2px solid #f2c700;
    border-radius: 10px;
    display: inline-block;
}

.foam-card-content-container {
    display: flex;
}

.foam-card-content-container label {
    display: block;
}

.length-input, .width-input {
    width: 9.1em;
}

.foam-card-sub-container {
    padding: 0.5em;
}

.button-parent-container {
    display: flex;
    position: relative;
    top: 1.4em;
}

.button-parent-container .ui.button {
    width: 6.4em;
}

.clear-button.ui.button {
    background-color: #d70229;
    color: white;
}

.clear-button.ui.button:hover {
    background-color: #eb002b;
}

.add-button.ui.button {
    background-color: #015691;
    color: white;
}

.add-button.ui.button:hover {
    background-color: #015591e3;
    color: white;
}

.ui.button {
    transition: 0.3s;
}

.ui.button:hover {
    transition: 0.3s;
}