.foam-card-header {
    text-align: center;
}

.foam-card-parent-container {
    margin: 1em;
    padding: 1em;
    border: 2px solid #f2c700;
    border-radius: 10px;
}

.foam-card-content-container {
    display: flex; 
}

.foam-card-sub-container {
    padding: 0.5em;
}

.foam-card-sub-container label {
    display: block;
}

.foam-density-container .ui.avatar.image {
    border: 1px solid grey;
}