.totals-window-items-container {
    height: 37vh;
    min-width: 40vw;
    overflow-y: auto;
    padding-right: 2em;
    border: 2.5px lightgrey solid;
    border-radius: 1em;
}

.totals-window-items-container hr {
    border-color: #ECECEC; 
    border-style: dashed;
    margin-top: 1em;
}

.totals-window-foam-items-container > div:nth-child(even), 
.totals-window-extras-items-container > div:nth-child(even),
.totals-window-upholstery-items-container > div:nth-child(even) {
    background-color: #F5F5F5;
}

.totals-window-placeholder {
    position: relative;
    font-size: 1.5em;
    color: #BEBEBE;
    text-align: center;
    top: 7em;
}
