@font-face {
    font-family: "VAG Rounded";
    src: URL('./VAG Rounded Regular.ttf') format('truetype');
}

.header-logo-container {
    text-align: center;
    margin-top: 1em;
}

.header-logo-container img {
    width: 20em;
}

.header-logo-container p {
    font-family: "VAG Rounded", sans-serif !important;
    font-size: 1.7em;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.header-creator-label-container {
    position: relative;
    bottom: 1.3em;
}